/*This file deals with styles for the whole page
Author: Randy Franzmeier
Date: 9/29/23 */
html {
  background-color: black;
}

.App {
  background-image: url(../images/grassAndTrees.jpg);
  background-position: 20%;
}

/*navbar styles*/
nav h1 {
  color: black;
  background-color: crimson;
}

.navContainer nav h1 {
  align-items: center;
  justify-content: center;
  display: flex;
}

/*display points styles*/
#points {
  margin-top: 10%;
}

/*list styles*/
ul {
  list-style-type: disc;
}

/*container display*/

/*whole page should display flex, with elements spaced evenly*/
.container {
  display: flex;
  justify-content: space-evenly;
}

/*this top container contains the jello, rules, and achievements.
It is displaying the items in a row.*/
.container1 {
  gap: 2%;
  flex-direction: row;
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-around;
}

.container2 {
  gap: 2%;
  flex-direction: row;
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-around;
}

.storeDisplayContainer {
    flex: 2 2 auto;
    width: 50%;
}

.scoresDisplayContainer {
  flex: 2 2 auto;
  width: 50%;
}
