/* This file deals with styles for the store
   portion of the page. 
   Author: Randy Franzmeier
   Date: 9-29-23 */

/*This displays the container as flex. It is in a seperate 
   container so that the items are spaced-out
   and symmetrical*/
   div.store {
    /* display: flex; */
    flex: 2 2 auto;
    flex-direction: column;
    margin-top: 2%;
    background-image: url(../images/storebg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

/*Don't want the items to have a dot next to them*/
.store>ul {
    list-style-type: none;
}

/*Center the store title while enlarging it */
.store>h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300%;
}

/*Button Styles*/

button {
    border-radius: 95%;
    background-color: rgb(167, 137, 47);
    width: 55px;
    height: 55px;
}

/*This changes the color of the button when it is hovered over*/
button:hover {
    background-color: rgb(136, 139, 139);
}

/*This container aligns all the store items to the center of the page*/
.storeItemContainer {
    gap: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/*This styles each list element within a div*/
ul>div>li {
    border: 1px solid black;
    margin-bottom: 4%;
}

/*first 2 store items*/
.store-first-half {
    flex: 1 1 auto;
}

/*second 2 store items*/
.store-second-half {
    flex: 1 1 auto;
}

/*third 2 store items*/
.store-third-half {
    flex: 1 1 auto;
}

/*last 2 store items*/
.store-fourth-half {
    flex: 1 1 auto;
    margin-right: 3%;
}

/*This styles the element that displays the items left in the store*/
.store>#itemCount {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    font-weight: bold;
}