/*This file deals with styles for the whole page
Author: Randy Franzmeier
Date: 9/17/23 */
html{
    background-color: black;
    /* background-image:url(images/lightWall.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
}
p, body {
    color:white;
}
nav h1 {
    color: white;
    background-color: crimson;
    /* margin-top: -0.75%;
   margin-left: -30%;
    margin-right: -30%; */
}
.navContainer nav h1 {
    align-items: center;
    justify-content: center;
    display: flex;
}
 
#points {
    margin-top: 10%;
}

#jello {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    height: 55%;
}

.jelloListener {
    flex: 2 2 auto;
    justify-content: center;
    align-items: center;
}


ul  {
    list-style-type: none;
}

.container {
    display:flex;
    justify-content: space-evenly;
}

.container1 {
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-around;
}




