.rules {
    flex: 1 1 auto;
    color: black;
    width: 23%;
    background-color: grey;
   
}

.rules > h1, .rules > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
}