div.store {
    display: flex;
    flex-direction: column;
    /* border: 3px solid white; */
    margin-top: 2%;
    background-image: url(../images/storebg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.store>ul {
    list-style-type: none;
}

.store>h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300%;
}

button {
    border-radius: 95%;
    background-color: white;
    width: 35%;
    height: 35%;
}

button:hover {
    background-color: rgb(136, 139, 139);
}

.storeItemContainer {
    gap: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.storeFirstHalf {
    flex: 1 1 auto;
}

.storeSecondHalf {
    flex: 1 1 auto;
}

.store>#itemCount {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    font-weight: bold;
}